{% load i18n lfs_tags sshop_tags %}
{% load properties_tags %}
{% load url from future %}
{% load staticfiles %}
{% if not ajax %}
<div id="comparison" portlet_assignment_id="{{ portlet_assignment_id }}">
{% endif %}
{% if products %}
<link rel="stylesheet" type="text/css" href="{% static 'css/comparison_portlet.css' %}">
<div class="portlet comparison-portlet">
    
    <div class="portlet-header">
        <a href="{% url 'lfs_comparison' %}">
            <h4>{{ comparison_list_portlet.title }}</h4>
        </a>
    </div>
    <div class="portlet-body">
        {% for product in products %}
            
            <a href="{% url 'lfs.catalog.views.product_view' product.slug %}">
                {% if product.get_image.image.url_200x200 %}
                    {% badges_for_product product %}
                    <img class="img_product" alt="{{ product.name }}" src="{{ product.get_image.image.url_200x200 }}" />
                {% else %}
                    <img alt="{{ product.name }}" src="{{ STATIC_URL }}img/100x100.gif" />
                {% endif %}
            </a>
            <div class="product-caption">
                <a  href="{% url 'lfs_product' product.slug %}">{{ product.get_name }}</a>
            </div>
        {% endfor %}
        <br>
        <a class="" href="{% url 'lfs_comparison' %}">{% trans 'Сompare products' %}</a>
    </div>
</div>
<script type="text/javascript">
    {% if slot_name == "Left" %}config.left_portlet_count++;{% endif %}
    {% if slot_name == "Right" %}config.right_portlet_count++;{% endif %}
</script>
{% endif %}
{% if not ajax %}
</div>
{% endif %}

{% if init %}
 <script type="text/javascript">
      var id = $('#comparison').attr('portlet_assignment_id')
      $.ajax({
          url: "/comparison/ajax-load/" + id + "/",
          dataType: "json",
          success: function(msg){
              $('#comparison')[0].innerHTML = msg['html']
              mediator.publish('run_scripts_from', $('#comparison')[0].innerHTML)
              page_designer.page_rebuild();
          }
      });
  </script>
{% endif %}