.jcarousel-skin-tango{
    height: 300px;
    padding-left: 38px;
    padding-right: 38px;
}
.featured-products-portlet .portlet-item {
    display: inline-block;
    text-align: center;
    width: 200px;
}
.featured-products-portlet.portlet{
    float: right;
    clear: right;
    width: 82%;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 3px 2px #9dd3f8;
}
.portlet-item.horizontal {
    width: 143px;
    display: inline-block;
    text-align: center;
    float: none;
}
#topseller-carousel .portlet-item {
display: inline-block;
text-align: center;
width: 143px;
}
.portlet-item.last.horizontal {
    width: 143px;
    display: inline-block;
    text-align: center;
    float: none;
}
.jcarousel-skin-tango .jcarousel-container {
    background: none;
    border: 1px solid #346F97;
}

.jcarousel-skin-tango .jcarousel-direction-rtl {
	direction: rtl;
}

.jcarousel-skin-tango .jcarousel-container-horizontal {
    width: 100%;
    padding: 0;
    margin: 0;
    height: 285px;
    border: 0;
    border-radius: 0;
} 
.jcarousel-skin-tango .jcarousel-container-vertical {
    width: 75px;
    height: 285px;
    padding: 40px 20px;
}

.jcarousel-skin-tango .jcarousel-clip {
    overflow: hidden;
}

.jcarousel-skin-tango .jcarousel-clip-horizontal {
    width: 100%;
    height: 75px;
    margin: auto;
    height: 253px;
}

.jcarousel-skin-tango .jcarousel-clip-vertical {
    width:  75px;
    height: 285px;
}

.jcarousel-skin-tango .jcarousel-item {
    height: 250px;
    text-align: center;
    width: 200px;
}

.jcarousel-skin-tango .jcarousel-item-horizontal {
	margin-left: 0;

}
.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 10px;
    margin-right: 0;
}

.jcarousel-skin-tango .jcarousel-item-vertical {
    margin-bottom: 10px;
}

.jcarousel-skin-tango .jcarousel-item-placeholder {
    color: #000;
    display: none;
}
/**
 *  Horizontal Buttons
 */
.jcarousel-skin-tango .jcarousel-next-horizontal {
    position: absolute;
    top: 120px;
    right: -36px;
    width: 32px;
    height: 43px;
    cursor: pointer;
    background: transparent url(next-horizontal.png) no-repeat 0 0;
}
.jcarousel-skin-tango .jcarousel-next-horizontal:active {
    background: transparent url(arrowr.png) no-repeat 0 0;
}
.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-next-horizontal {
    left: 5px;
    right: auto;
    background-image: url(prev-horizontal.png);
}

.jcarousel-skin-tango .jcarousel-next-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:focus,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal {
    position: absolute;
    top: 120px;
    left: -18px;
    width: 32px;
    height: 43px;
    cursor: pointer;
    background: transparent url(prev-horizontal.png) no-repeat 0 0;
}
.jcarousel-skin-tango .jcarousel-prev-horizontal:active {
    background: transparent url(arrowl.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:focus,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}

/**
 *  Vertical Buttons
 */
.jcarousel-skin-tango .jcarousel-next-vertical {
    position: absolute;
    bottom: 5px;
    left: 43px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(next-vertical.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-next-vertical:hover,
.jcarousel-skin-tango .jcarousel-next-vertical:focus {
    background-position: 0 -32px;
}

.jcarousel-skin-tango .jcarousel-next-disabled-vertical,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:focus,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
}

.jcarousel-skin-tango .jcarousel-prev-vertical {
    position: absolute;
    top: 5px;
    left: 43px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(prev-vertical.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-prev-vertical:hover,
.jcarousel-skin-tango .jcarousel-prev-vertical:focus {
    background-position: 0 -32px;
}


.jcarousel-skin-tango .jcarousel-prev-disabled-vertical,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:focus,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
}
#portlet-tabs [id^="tabs-"] {
    width: 91%;
    height: 321px;
}
.ui-tabs .ui-tabs-panel {
    padding: 1em 41px;
}
#portlet-tabs .ui-tabs-nav li {
    padding: 0 1px;
    margin: 0px 1px;
}
#portlet-tabs .ui-tabs-nav {
    margin: 0 8px;
}
 .ui-tabs .ui-tabs-nav li a:hover {
    background: none;
 }
