{% load i18n %}
{% load mptt_tags %}
<div class="navbar main-nav">
<div class="navbar-inner">
<div class="container">
        <ul class="sf-js-enabled sf-shadow nav ">
        {% for top_category in categories %}
            
            <li id="cat_{{ top_category.id }}" class="main-category">
                    <a class="a_category sf" href="{% url lfs_category top_category.slug %}">{{ top_category.name }}</a>
                    <span class="cart-content"></span>
                <ul id="sub-nav" class="dropdown-menu sf-menu container">
                    <div class="top_category_icon" style="{% if top_category.get_icon.url %}
                        background: url({{ top_category.get_icon.url }}) right bottom no-repeat;
                    {% endif %}"></div>
                    {% if not top_category.is_leaf_node %}
                            {% for category in top_category.get_children %}
                            {% if forloop.first %}

                            <div id="category_row" class="span3">
                            {% endif %}

                            <li class="category_name"><a class="red"  href="{% url lfs_category category.slug %}">{{ category.name }}</a>
                            {% if not category.is_leaf_node %}
                                <ul class="dropdown-menu column{{ category.extras.column }}">
                                    {% for item in category.get_children %}
                                        <li><a href="{% url lfs_category item.slug %}">{{ item.name }}</a></li>
                                    {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                            {% if forloop.counter|divisibleby:top_category.extras.row %}
                {% if forloop.last %}
                    </div>
                {% else %}
                    </div>
                    <div id="category_row" class="span3">
                {% endif %}
            {% endif %}

                            {% endfor %}
                        
                    {% endif %}
                </ul>
            </li>
            
            
        {% endfor %}
        </ul>
</div>
</div>
</div>
<script type="text/javascript"> 
$(document).ready(function() {
   
$(".sf-shadow").hover(
    function() {
   
      /* Курсор мыши зашел в область навигации */
      var nav = $(this).removeClass("out").removeClass("sf-menu");

      setTimeout(function() {
        nav.addClass("sf-menu");
      }, 900);
       
    }, 
    function() {
       
      /* Потеря фокуса ввода */
      $('.sf-shadow').addClass("out").removeClass("sf-menu");
       
    });
});
</script>


