{% extends "lfs/base.html" %}
{% load i18n %}

{% block title %}{% trans "Password reset" %}{% endblock %}
{% block section %}password-reset{% endblock %}
{% block left-slot-wrapper%}{% endblock %}
{% block right-slot-wrapper%}{% endblock %}

{% block breadcrumbs %}
    <p>
        <span typeof="v:Breadcrumb">
        <a href="{% url lfs_shop_view %}" rel="v:url" property="v:title"><i class="icon-home"></i></a>
            <span class="divider">/</span>  <span>  {% trans 'Password reset' %}</span>
        </span>
    </p>
{% endblock %}

{% block wrapper %}
    <h1 class="first-heading">
        {% trans "Password reset" %}
    </h1>
    <p>
        {% trans "Enter your e-mail address below, and we'll e-mail instructions for setting a new one." %}
    </p>
    <form action=""
          method="post">
        {% csrf_token %}
        <div class="field">
            <p>
                {% trans 'Электронная почта:' %}
            </p>
            <div>
                {{ form.email.errors }}
                {{ form.email }}
            </div>
        </div>
        <input class="btn btn-primary" type="submit"
               value="{% trans 'Reset my password' %}" />
    </form>
{% endblock %}
