{% extends "lfs/base.html" %}
{% load i18n %}

{% block title %}{% trans 'Password reset successful' %}{% endblock %}
{% block section %}password-reset-done{% endblock %}

{% block breadcrumbs %}
    <p>
        <span typeof="v:Breadcrumb">
        <a href="{% url lfs_shop_view %}" rel="v:url" property="v:title"><i class="icon-home"></i></a>
            <span class="divider">/</span>  <span>  {% trans 'Password reset' %}</span>
        </span>
    </p>
{% endblock %}

{% block wrapper %}
    <h1 class="first-heading">
        {% trans 'Password reset successful' %}
    </h1>
    <p>
        {% trans "We've e-mailed you instructions for setting your password to the e-mail address you submitted. You should be receiving it shortly." %}
    </p>
{% endblock %}
