{% extends "lfs/base.html" %}
{% load i18n %}

{% block title %}{% trans 'Password reset complete' %}{% endblock %}
{% block section %}password-reset-complete{% endblock %}

{% block breadcrumbs %}
    <p>
        <span typeof="v:Breadcrumb">
        <a href="{% url lfs_shop_view %}" rel="v:url" property="v:title"><i class="icon-home"></i></a>
            <span class="divider">/</span>  <span>  {% trans 'Password reset' %}</span>
        </span>
    </p>
{% endblock %}

{% block wrapper %}
    <h1 class="first-heading">
        {% trans 'Password reset complete' %}
    </h1>
    <p>
        {% trans "Your password has been set. You may go ahead and log in now." %}
    </p>
    <p class="buttons">
        <a href="/login">{% trans 'Log in' %}</a>
    </p>
{% endblock %}
