{% load i18n %}
<div class="row-fluid">
    {% with amount=cart.get_amount_of_items %}
    {% if amount == 0 or not cart %}
    <div id="empty-cart" class="span12">
        <img src="{{ STATIC_URL }}img/empty-cart.png">
    </div>
    <div class="row-fluid">
    <div id="empty-cart-text" class="span12">
        <p>{% trans "Cart is empty." %}</p>
    </div>
    </div>
    {% else %}
    <div class="span12">
        <img class="full-cart" src="{{ STATIC_URL }}img/full-cart.png" width="55px">
    </div>
    <div class="row-fluid">
        <div class="span12 info-cart">
            <p><strong>{{ amount|floatformat  }}</strong> {% trans "товаров" %} - <strong>{{ total_price|floatformat }}</strong> {{ SHOP.default_currency.abbr }}</p>
            
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12 cart-btns">
            <a href="{% url lfs_checkout %}">{% trans "Оформить заказ" %}</a>
        </div>
    </div>
    {% endif %}
    {% endwith %}
</div>

<script type="text/javascript">
    $("#clear-cart").click(function(){
        $('#cart-container').load('{% url lfs_clear_cart %}');
    });
</script>
