{% extends "lfs/base.html" %}
{% load i18n %}
{% load lfs_tags sshop_tags %}
{% load url from future %}

{% block title %}
    {% trans "Comparison" %}
{% endblock %}

{% block section %}{% endblock %}

{% block head %}{% endblock %}

{% block breadcrumbs %}
    {% breadcrumbs _("Comparison") %}
{% endblock %}
{% block content %}

    {% if comparison_list %}
    <table class="table table-striped table-hover">
      <tbody>
        <tr>
            <td></td>
            {% for item in comparison_list %}
            <td><a href="{% url 'lfs_product' item.slug %}"><img src="{{ item.get_image.image.url_60x60 }}"></a><br><a href="{% url 'lfs_product' item.slug %}">{{ item.get_name }}</a><a href="{% url 'lfs_comparison_remove_product' item.id %}"><i class="icon-remove"></i></a></td>
            {% endfor %}
        </tr>

        {% for prop_group, prop_value in properties.items %}
        {% if prop_group %}<tr>
        <td><strong>{{ prop_group }}</strong></td><td colspan="{{ comparison_list.count }}"></td>
        </tr>{% endif %}
            {% for prop, value in prop_value.items %}
            <tr>
                <td>{{ prop }}</td>
                {% for item in comparison_list %}
                <td>{{ value|lookup:item.pk }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        {% trans 'Not selected any product.' %}
    {% endif %}
{% endblock %}
{% block body_bottom %}
    <script>
          mediator.publish('change_slots_width', "span3", "span12", "span9");
          config.left_portlet_count--;
    </script>
{% endblock %}
{% block left-slot %}{% endblock %}
{% block middle-slot %}{% endblock %}
