{% load i18n %}
<h1 class="first-heading">
    {{ category.name }}
</h1>
<div class="description">
    {{ category.description|safe }}
</div>

<div id="categories">
    <table class="table lfs-default">
        {% for row in categories %}
            <tr>
                {% for category in row %}
                    <td class="category-row">
                        <h2 class="first-heading"><a href="{% url lfs_category category.slug %}">{{ category.name }}</a></h2>
                        <div class="category-image">
                            {% if category.get_image %}
                                <a href="{% url lfs_category category.slug %}">
                                    <img src="{{ category.get_image.url_100x100 }}"
                                         alt="{{ category.name }}" />
                                </a>
                            {% endif %}
                        </div>
                        <div class="category-description">
                            {{ category.short_description|safe }}
                        </div>
                        <div class="clear details-button">
                            <a class="button emphasized"
                               href="{% url lfs_category category.slug %}">{% trans 'Details' %}
                            </a>
                        </div>
                        <hr>
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
</div>
