{% load i18n %}
{% load lfs_tags %}
{% load sshop_tags %}



{% if products %}

    <div class="featured-products-portlet portlet {% if  title == 'Распродажа' %} red {% endif %} ">
         <div class="portlet-header">
            <h4>{{ title }}</h4>
        </div>
        <div class="portlet-body">
            {% if products|length < 5 or not slideshow %}
                {# -----------------------NOT SLIDESHOW------------------------------------ #}
                <div class="wrap-product"> 
               {% for product in products %}
    
                <div class="portlet-item{% if forloop.last %} last{% endif %}{% if type_of_slot == 5 %} horizontal{% endif %} portlet-padding">
                   <div class="product-data">
                                <div class="image-wrapper">
                                    <a href="{{ product.get_absolute_url }}">
                                {% if product.get_image %}
                                    <a href="{{ product.get_absolute_url }}">        
                                        <img alt="{{ product.name }}" src="{{ product.get_image.image.url_100x100 }}" />        </a>
                                    {% else %}
                                    <img src="{{ STATIC_URL }}img/100x100.gif" alt="{{ product.get_image.title }}"
                                    class="product-image" />
                                {% endif %}
                                    </a>
                                </div>
                                <div class="product-title">
                                    <a href="{{ product.get_absolute_url }}" class="product-title">{{ product.get_name }}</a>
                                </div>
                                <div>
                                    <span class="label-popover label {{ product.status.css_class }} pointer" data-content="{{ product.status.description|striptags }}" title="" data-original-title="{{ product.status.name }}">{{ product.status.name }}</span>
                                    {% if product.manage_stock_amount %}
                                    <span>{% trans "Stock amount:" %} {{ product.stock_amount }}
                                    {% if product.unit %}{{ product.unit }}{% endif %}</span>
                                    {% endif %}
                                    {% if product.manual_delivery_time %}
                                    {% trans "Delivery in" %} {{ product.delivery_time }}
                                    {% endif %}
                                </div>
                                <div class="product-price">
                                       {{ product.price}}
                                    <span>{{ SHOP.default_currency.abbr }}</span>
                                </div>
                                {% if product.status.show_buy_button %}
                                    <form action="{% url lfs.catalog.views.product_form_dispatcher %}"
                                        class="add-to-cart-form" method="post">
                                    {% csrf_token %}
                                    <input name="product_id" type="hidden" value="{{ product.id }}" />
                                    <input name="ajax_mode" type="hidden" value="1" />
                                    <!--input class="input-small inline" name="quantity" type="text" value="1" /-->
                                    <button class="btn btn-danger">{% trans "Купить" %}</button>
                                    </form>
                                {% endif %}
                            </div>
                </div>
                
                {% endfor %}
                </div>
                {# -----------------------NOT SLIDESHOW------------------------------------ #}
            {% elif slideshow or products|length >= 5 %}
                {# -----------------------PRODUCTS SLIDESHOW------------------------------------ #}
                 <div class="products-wrapper slideshow">
                    <ul id="categories-carousel" class="jcarousel-skin-tango">
                    {% for product in products %}
                    <li>
                        <div  class="portlet-item">
                            <div class="product-data">
                                <div class="image-wrapper">
                                {% if product.get_image %}
                                <a href="{{ product.get_absolute_url }}">        
                                    <img alt="{{ product.name }}" src="{{ product.get_image.image.url_100x100 }}" />        </a>
                                {% else %}
                                <img src="{{ STATIC_URL }}img/100x100.gif" alt="{{ product.get_image.title }}"
                                class="product-image" />
                                {% endif %}
                                </div>
                                
                                <div class="product-title">
                                    <a href="{{ product.get_absolute_url }}" class="product-title">{{ product.get_name }}</a>
                                </div>
                                <div>
                                    <span class="label-popover label {{ product.status.css_class }} pointer" data-content="{{ product.status.description|striptags }}" title="" data-original-title="{{ product.status.name }}">{{ product.status.name }}</span>
                                    {% if product.manage_stock_amount %}
                                    <span>{% trans "Stock amount:" %} {{ product.stock_amount }}
                                    {% if product.unit %}{{ product.unit }}{% endif %}</span>
                                    {% endif %}
                                    {% if product.manual_delivery_time %}
                                    {% trans "Delivery in" %} {{ product.delivery_time }}
                                    {% endif %}
                                </div>
                                <div class="product-price">
                                       {{ product.price}}
                                    <span>{{ SHOP.default_currency.abbr }}</span>
                                </div>
                                {% if product.status.show_buy_button %}
                                    <form action="{% url lfs.catalog.views.product_form_dispatcher %}"
                                        class="add-to-cart-form" method="post">
                                    {% csrf_token %}
                                    <input name="product_id" type="hidden" value="{{ product.id }}" />
                                    <input name="ajax_mode" type="hidden" value="1" />
                                    <!--input class="input-small inline" name="quantity" type="text" value="1" /-->
                                    <button class="btn btn-danger">{% trans "Купить" %}</button>
                                    </form>
                                {% endif %}
                            </div>
                        </div>
                    </li>
                    {% endfor %}{# slideshow products #}
                     </ul>
                    {# tabs #}
                    
                   

                </div>
               
                {# -----------------------END PRODUCTS SLIDESHOW-------------------------------- #}
                <script type="text/javascript">
               //     $('.slideshow').tabs({ fx: { opacity: 'toggle', duration: 'fast' } }).tabs('rotate', 3000);
                
                 $('ul.jcarousel-skin-tango').each(function(index){
                        $(this).attr('id', 'tabs_carousel-' + index); 
                    })

                        $("[id*=tabs_carousel]").jcarousel({
                            scroll: 1,
                            wrap: 'circular',
                        });
                </script>
            {% endif %}
            {# slideshow check #}
        </div>{# portlet-body #}
    </div>
{% endif %}
